// RNG specific styles

.rng {

  .game-container {
    // min-height: 675px;
    height: 91vh;
    line-height: 675px;
    padding: 0;
    width: 100%;
    background-color: #121212; // rgba(0,0,0,0.5);
    display: block;
    position: relative;
    -webkit-overflow-scrolling: touch;
    overflow: hidden;
  }

  .rng-not-logged {
    height: 80px;
    line-height: 80px;
  }
  
  .game-container:fullscreen {
    height: 75% !important;
    width: 100% !important;
    transform: scale(0.75);
    -webkit-transform: scale(0.75);
    zoom: 0.75;
  }
  .iframe-rng {
    // min-height: 675px;
    // height: 675px;
    // line-height: 675px;

    text-align: center;
    // overflow: hidden;
    height: 90vh;
    width: 100%;
    display: fixed;
    position: relative;
    z-index: 2;

    canvas {
      text-align: center;
    }
  }

  #heading-title { // RNG
    position: relative;
    .how-to-play {

      .row.uniform {
        margin: 0.5em 0 0.5em;
      }
      section {}

      .black-box {
        display: flex;
        align-items: center;
        margin-bottom: 4%;
        img { width: 100%; cursor:pointer; }
      }

      p { 
        margin: 0; 
        padding-left: 4%;
        padding-right: 4%;
        text-align: left;
        font-size: 12.5pt;
      }
    }
  }

  .needToLogin {
    color: #000;
    height: 100%;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
    font-size: 15pt;
    position: absolute;
    z-index: 1;
  }

  .background {
    background-image: url('../../images/bg_RNG.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
    margin: 0;
    position: absolute;
    top: -5px;
    left: -5px;
    height: 90vh;
    width: 102%;
    z-index: 0;
  }
}

#fixed-sticky-fullscreen {
  display: block;
  a {
    background: #323232;
    font-size: 80%;
    color: white;
    padding: 0 0.5em;
    outline: none;
    text-decoration: none;
    position: absolute;
    top: 17rem;
    right: -8px;
    z-index: 999;
    /*width: 136px;*/
    height: 35px;
    line-height: 25px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    transform: rotate(-90deg);

    -webkit-transform-origin:100% 100%;
    -moz-transform-origin:100% 100%;
    transform-origin:100% 100%;

    border: 1px solid #eee;
    border-radius: 4px;

    &:hover {
      color: #FFF !important;
    }
  }
}

@media screen and (max-width: 1440px) {}

@media screen and (max-width: 1280px) {
  .how-to-play {
    .black-box {
      height: 160px;
      max-height: 160px;
      // width: 77px;
      background-color: #000;
      // display: table-cell;

      img {
        max-height: 160px;
      }
    }
  }
}

@media screen and (max-width: 980px) {}

@media screen and (max-width: 780px) {
  .rng {
    .game-container {
      padding: 0;
      overflow-y: visible;
    }
    .iframe-rng {}

    #heading-title { // RNG
      .how-to-play {
        margin-top: .5em;

        .row.uniform {
          margin: 0.5em 0 0.5em;
        }
        section {
          width: 100%;
          display: table;
          padding: 0.3em 0.25em 0 0.25em !important;
        }

        .black-box {
          height: auto;
          max-height: auto;
          width: 100%;
          background-color: #000;
          display: table-row;

          img {
            max-height: 160px;
          }
        }

        p {
          margin: 4px auto 8px;
          font-size: 10pt;
          text-align: left;
          line-height: normal;
        }
      }
    }
    .needToLogin {
      font-size: 12pt;
    }
  }
}
@media screen and (max-width: 767px) {
  .rng {
    .game-container {
      height: 100vh;
    }
    .rng-not-logged {
      height: 80px;
      line-height: 80px;
    }
  }
  #fixed-sticky-fullscreen {
    // display: none !important;
    a {
      background: rgba(50,50,50,.7) !important;
      font-size: 65%;
      outline: 0;
      top: 15rem;
      right: -10px;
    }
  }
}

@media screen and (max-width: 480px) {}
